---
import Layout from '../layouts/Layout.astro';

import headshot from '../assets/images/headshot.jpeg';
import resume from '../assets/Freddy_Diengott_Resume.pdf';
---

<Layout>
	<main>
		<article id="home" class="panel intro">
			<aside>
				<header>
					<h1>Freddy Diengott</h1>
					<h3>Software Engineer</h3>
				</header>
				<p>I'm a curious, design-focused full-stack software engineer based in NYC who loves making beautiful webpages! I'm currently a frontend developer at Etrade from Morgan Stanley maintaining a Component Library and the team lead for our Charts Library. I'm passionate about design, accessibility, and writing DRY, semantic code.</p>

				<p>My journey to software engineering took many unexpected turns. Some of the pit stops included pursing a career as an opera singer and organizing the entertainment for over 200 high-end events. I have lots and lots of hobbies and love to learn new things!</p>
				<a
					href={resume}
					target="_blank" rel="noopener noreferrer"
					class="icon solid fa-file nav-icon"
				>
					<span>Resume</span>
				</a>
				<a
					href="https://github.com/fdiengott"
					target="_blank" rel="noopener noreferrer"
					class="icon brands fa-github nav-icon"
				>
					<span>Github</span>
				</a>
				<a
					href="https://www.linkedin.com/in/freddiengott/"
					target="_blank" rel="noopener noreferrer"
					class="icon brands fa-linkedin nav-icon"
				>
					<span>LinkedIn</span>
				</a>
				<a
					href="https://wellfound.com/u/freddy-diengott"
					target="_blank" rel="noopener noreferrer"
					class="icon brands fa-angellist nav-icon"
				>
					<span>AngelList</span>
				</a>
			</aside>
			<section class="pic">
				<a href="#skills" class="jumplink">
					<span class="arrow icon solid fa-chevron-right"><span>Checkout my skills!</span></span>
				</a>
				<img src={headshot} alt="A professional headshot of a young man wearing a black button down" />
			</section>
		</article>
	</main>
</Layout>

<style>
</style>
