---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <article id="projects" class="panel">
    <a href="#contact" class="jumplink">
        <span class="arrow icon solid fa-chevron-right"
        ><span>Contact Me!</span></span
        >
    </a>
    <header>
        <h2>Projects</h2>
    </header>
    <p>A few of my recent projects!</p>
    <section>
        <div class="row project-list">
        <div class="col-12 col-12-medium col-12-small project-img">
            <h2>Pebbble</h2>
            <div class="links">
            <a
                href="https://github.com/fdiengott/pebbble"
                target="_blank"
                rel="noopener noreferrer">Github</a
            >
            <!-- <a href="https://pebbble.herokuapp.com/" target="_blank" rel="noopener noreferrer">Live</a> -->
            </div>
            <a
            href="https://github.com/fdiengott/pebbble"
            target="_blank"
            rel="noopener noreferrer"
            class="image fit"
            >
            <img src="images/pebbble-homepage.gif" alt="" />
            <article class="hover-text">
                <p>
                A haven for designers and design enthusiasts to share their work
                or find inspiration.
                </p>
                <p>
                Built using React/Redux, Ruby on Rails, PostgreSQL, and Amazon Web
                Services.
                </p>
            </article>
            </a>
        </div>
        <div class="col-12 col-12-medium col-12-small project-img">
            <h2>Postcard</h2>
            <div class="links">
            <a
                href="https://github.com/chrisj1225/Postcard"
                target="_blank"
                rel="noopener noreferrer">Github</a
            >
            <!-- <a href="https://postcard-triplog.herokuapp.com/" target="_blank" rel="noopener noreferrer">Live</a> -->
            </div>
            <a
            href="https://github.com/chrisj1225/Postcard"
            target="_blank"
            rel="noopener noreferrer"
            class="image fit"
            ><img src="images/postcard-homepage.gif" alt="" />
            <article class="hover-text">
                <p>A travel scrapbook with integrated maps and photos.</p>
                <p>
                Built using React/Redux, Express.js, MongoDB, Node.js, Google Maps
                API, and Amazon Web Services
                </p>
            </article>
            </a>
        </div>
        <div class="col-12 col-12-medium col-12-small project-img">
            <h2>Lexiloop</h2>
            <div class="links">
            <a
                href="https://github.com/fdiengott/LexiLoop"
                target="_blank"
                rel="noopener noreferrer">Github</a
            >
            <!-- <a href="https://lexiloop.herokuapp.com/" target="_blank" rel="noopener noreferrer">Live</a> -->
            </div>
            <a
            href="https://github.com/fdiengott/LexiLoop"
            target="_blank"
            rel="noopener noreferrer"
            class="image fit"
            ><img src="images/lexiloop-homepage.gif" alt="" />
            <article class="hover-text">
                <p>
                An interactive music sequencer that uses syllabified words as
                audio samples!
                </p>
                <p>
                Built with JavaScript, HTML5, Sass, Webpack, WebAudio API, and the
                WordsAPI
                </p>
            </article>
            </a>
        </div>
        </div>
    </section>
    </article>
</Layout>
