---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <article id="skills" class="panel">
            <a href="#projects" class="jumplink">
                <span class="arrow icon solid fa-chevron-right"
                ><span>See my projects</span></span
                >
            </a>
            <header>
                <h2>Skills</h2>
            </header>
            <section>
                <div class="row">
                <!-- react -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-react-original-wordmark colored"></i>
                    </div>
                </div>

                <!-- javascript -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-javascript-plain colored"></i>
                    </div>
                </div>

                <!-- typescript -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-typescript-plain colored"></i>
                    </div>
                </div>

                <!-- ruby -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-ruby-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- rails -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-rails-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- postgres -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-postgresql-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- MongoDB -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-mongodb-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- node -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-nodejs-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- Express -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-express-original-wordmark colored"></i>
                    </div>
                </div>

                <!-- sass -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-sass-original colored"></i>
                    </div>
                </div>

                <!-- GraphQL -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-graphql-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- redux -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-redux-original colored redux"
                        ><small>Redux</small></i>
                    </div>
                </div>

                <!-- java -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-java-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- amazon web services -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- html -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-html5-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- css -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-css3-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- Webpack -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-webpack-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- git -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-git-plain-wordmark colored"></i>
                    </div>
                </div>

                <!-- illustrator -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-illustrator-line colored"></i>
                    </div>
                </div>

                <!-- Heroku -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-heroku-original-wordmark colored"></i>
                    </div>
                </div>

                <!-- jest -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-jest-plain colored"></i>
                    </div>
                </div>

                <!-- tailwind css -->
                <div class="col-3 col-4-medium col-14-small">
                    <div class="skill-icon fit">
                    <i class="devicon-tailwindcss-original-wordmark colored"></i>
                    </div>
                </div>
                </div>
            </section>
        </article>
    </main>
</Layout>
